.MuiPopover-root .MuiPaper-root,
.MuiMenu-root .MuiPaper-root {
  background: rgb(33 33 33 / 80%);
  backdrop-filter: blur(8px);
  border: 1px solid rgb(255 255 255 / 66%);
}

.MuiSlider-colorSecondary .MuiSlider-valueLabel {
  color: #666;
}

.MuiTouchRipple-root {
  display: none !important;
}
