html,
body {
  height: 100%;
  width: 100%;
  /* fixes scroll bar colour in safari */
  background: #121212;
  color-scheme: dark;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12pt;

  &.content-page {
    margin: 0.5em;
  }
}

a {
  cursor: pointer;
}

* {
  outline: none !important;
}

path.unhighlighted {
  visibility: hidden;
}
