<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <meta name="description" content="Foo bar" />
    <meta name="keywords" content="foo, bar" />

    <link type="text/css" rel="stylesheet" href="/deps.css" />
    <link type="text/css" rel="stylesheet" href="/main.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64x64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">

    <script>
      (function(){
        var needPolyfills = !('fetch' in window && 'assign' in Object);
        if(needPolyfills){
          var script = document.createElement('script');
          script.defer = true;
          script.src = '/polyfills.js';
          document.head.appendChild(script);
        }
      })();
    </script>

    <script defer src="/deps.js"></script>
    <script defer src="/main.js"></script>

    <title>EnrichmentMap</title>
  </head>

  <body>
  </body>

</html>
