.header .menu-button {
  margin-right: 2em;
}

.header-title-area {
  margin-left: 1em;
  line-height: 1;
  flex-grow: 3;
}

.header-title-save-status {
  opacity: 0.666;
  font-size: 0.8em;
  margin-top: 0.25em;
  padding-left: 2px;
}

.header-tools > * {
  display: inline-block !important;
}
