.network-editor {
  position: absolute;
  width: 100%;
  height: 100%;
}

.network-editor-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50px;
}

html,
body {
  /* fixes scroll bar colour in safari */
  background: rgb(24 24 24);
  color-scheme: dark;
}
